body {
    background: #59ABE3;
}

form {
    width: 400px;
    height: 700px;
    background: #e6e6e6;
    border-radius: 8px;
    box-shadow: 0 0 40px -10px #000;
    margin: calc(50vh - 220px) auto;
    padding: 20px 30px;
    max-width: calc(100vw - 40px);
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;

}

h2 {

    color: navy;
    border-bottom: 3px solid #78788c;
    text-align: center;
    margin-bottom: 30px;
}

input {
    margin-bottom: 10px;
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    background: none;

    border: 0;
    font-family: 'Montserrat', sans-serif;
    transition: all .3s;
    border-bottom: 2px solid #bebed2;
}

input:focus {
    border-bottom: 2px solid #78788c
}


.button {
    float: right;
    margin-top: 100px;
    border: 2px solid #78788c;
    background: 0;
    color: #5a5a6e;
    cursor: pointer;
    transition: all .3s;
    margin-top: 10px;
    width: 100px;
    border-radius: 19px;
}

.button:hover {
    background: #78788c;
    color: #fff
}
.erreur{
    margin-bottom: 25px;
    color: red;
}
label{
    font-weight: bold;
    color: darkcyan;
}